@font-face {
  font-family: "Gatchina";
  src: url("./assets/fonts/Gatchina Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gatchina";
  src: url("./assets/fonts/Gatchina Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}